extends layout

block content
  each res, index in results
    if index === 0
      h1(class='#{res.lang}') #{res.val}
    else
      h2(class='#{res.lang}') #{res.val}
    p.subtitle #{res.trans} - #{res.type} - #{res.api}
    ol
      each def, i in res.definitions
        li= def.def
          i= def.note
    if res.declension
      .declension.
        res.declension
    if res.conjugation
      .conjugation.
        res.conjugation
    if res.transcription
      .transcription.
        res.transcription
    if res.synonyms
      .synonyms.
        res.synonyms
    if res.related
      .related.
        res.related
