header.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", aria-expanded="false", ng-click="isCollapsed = !isCollapsed")
        span.sr-only #{i18n.toggleNavigation}
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") #{i18n.hano}
    nav.visible-xs(uib-collapse="!isCollapsed")
      ul.nav.navbar-nav(ng-show="isCollapsed")
        li
          a(href="/articles", ng-click="isCollapsed = !isCollapsed").
            #[i.fa.fa-fw.fa-file-text(aria-hidden="true")]
            #{i18n.articles}
        li
          a(href="/dictionary", ng-click="isCollapsed = !isCollapsed").
            #[i.fa.fa-fw.fa-book(aria-hidden="true")]
            #{i18n.dictionary}
    nav.hidden-xs
      ul.nav.navbar-nav
        li
          a(href="/articles").
            #[i.fa.fa-fw.fa-file-text(aria-hidden="true")]
            #{i18n.articles}
        li
          a(href="/dictionary").
            #[i.fa.fa-fw.fa-book(aria-hidden="true")]
            #{i18n.dictionary}
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown(uib-dropdown)
            a(href="#", uib-dropdown-toggle, role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle.
              #{i18n.administration}
              #[span.caret]
            ul.dropdown-menu
              li
                a(href="/users/#{user.url}").
                  #[i.fa.fa-fw.fa-user(aria-hidden="true")]
                  #{user.name}
              li
                a(href="/new-article").
                  #[i.fa.fa-fw.fa-pencil(aria-hidden="true")]
                  #{i18n.createArticle}
              li
                a(href="/new-entry").
                  #[i.fa.fa-fw.fa-book(aria-hidden="true")]
                  #{i18n.createEntry}
              li
                a(href="/new-user").
                  #[i.fa.fa-fw.fa-user-plus(aria-hidden="true")]
                  #{i18n.createUser}
              li
                a(href="/sign-out").
                  #[i.fa.fa-fw.fa-sign-out(aria-hidden="true")]
                  #{i18n.signOut}
        else
          li
            a(href="/sign-in").
              #[i.fa.fa-fw.fa-sign-in(aria-hidden="true")]
              #{i18n.signIn}
