extends ../layout

block content
  div(ng-controller='ArticleListController', category='#{category}').flow.container
    h1 #{title}
    div(ng-repeat="article in articles").box
      h2 {{article.title}}
      div(marked="article.content | parseLinks | extract")
      a(ng-href="/articles/{{article.url}}", ng-show="article.content.length > 200").btn.btn-default.
        #[i.fa.fa-fw.fa-eye(aria-hidden="true")]
        #{i18n.readMore}
      if user
        .text-right
          a(ng-href="/articles/{{article.url}}").btn.btn-default.
            #[i.fa.fa-fw.fa-eye(aria-hidden="true")]
            #{i18n.show}
    div
      a(href="/new-article").
        #[i.fa.fa-fw.fa-plus(aria-hidden="true")]
        #{i18n.new}
