extends ../layout

block content
  div(ng-controller='ArticleListController', category='#{category}').flow.container
    h1 #{title}
    div(ng-repeat="article in articles").box
      h2 {{article.title}}
      a(ng-href="/articles/{{article.url}}").
        #[i.fa.fa-fw.fa-eye(aria-hidden="true")]
        #{i18n.show}
      a(ng-href="/articles/{{article.url}}?edit=true").
        #[i.fa.fa-fw.fa-pencil(aria-hidden="true")]
        #{i18n.edit}
    div
      a(href="/new-article").
        #[i.fa.fa-fw.fa-plus(aria-hidden="true")]
        #{i18n.new}
